html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root {
  overflow-x: hidden;
  padding-bottom: 60px;
  box-sizing: border-box;
  max-height: 100vh;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background-color: white;
  font-family: Tenada;
}

[data-rsbs-is-dismissable='false'] [data-rsbs-backdrop] {
  cursor: pointer !important;
}

[data-rsbs-has-header='false'] [data-rsbs-header] {
  display: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.ant-picker-calendar-date {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-picker-calendar-date-value {
  text-align: center;
}

.ant-picker-content tbody tr:last-child .ant-picker-cell.ant-picker-cell-in-view {
  display: table-cell;
}

.ant-picker-body {
  padding: 0 !important;
}

.ant-picker-body th {
  padding: 0 !important;
  text-align: center;
}

.ant-picker-panel .ant-picker-body th:nth-child(1) {
  color: red;
}

.ant-picker-content tbody tr td.ant-picker-cell-in-view:first-child {
  color: red;
}

.ant-picker-panel .ant-picker-body th:nth-child(7) {
  color: blue;
}

.ant-picker-content tbody tr td.ant-picker-cell-in-view:nth-child(7) {
  color: blue;
}

.ant-picker-calendar-full {
  height: 100%;
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index: 100 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
textarea {
  font-family: Tenada !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.ant-select-selection-item {
  font-family: Tenada !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.ant-typography,
.ant-radio-wrapper span,
.ant-picker-body,
.ant-modal-content,
.ant-form-item-required,
.ant-form-item-label,
a {
  font-family: Tenada !important;
}

.ant-select-selection-item {
  padding-top: 4px !important;
}

.ant-picker-dropdown {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 100000;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 파이어폭스에서의 초기화 방법 */
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-form-item-required::before {
  padding-bottom: 7px;
}

.ant-picker-calendar-date-content {
  height: 11vh !important;
}
